*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ff9a6c;
    /* border: 2px solid black; */
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

h1 {
    font-size: 1rem;
    color: #263238;
}

p {
    line-height: 1.7rem;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.logo {
   /* border: 2px solid black; */
    width: 20%;
    text-align: center;
}

.menu {
    width: 40%;
    height: auto;
    /* border: 2px solid black; */
}

.menu nav {
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

.menu nav a {
    display: flex;
    align-items: center;
    height: 2.5rem;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}



.start {
  /*  border: 2px solid black; */
   /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative ;
}

.startimg {
    /* border: 2px solid black; */   

}

.startimg img {
    width: 30rem;
    margin-top: 3.2rem;
    margin-left: 6rem;
}

.startText {
    display: flex;
    flex-direction: column;
}

.startTitle  {
   /* border: 2px solid blue; */
    margin-top: 9rem;
    margin-inline: 3.5rem;
    color: #263238;
    font-size: 32px;

}

.startSubtitle {
    margin-top: 0.5rem;
    margin-inline: 4rem;
    
}

.startButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
    
    
}

.startButtons .botao {    
    margin-inline: 4rem;
    background-color: #FF725E;
    color: white;
    height: 4rem;
    border-radius: 8px;
    width: 13rem;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border: none;
}

.startButtons .botao-transparente {
    /* border: 2px solid black; */
    text-underline-offset: 4px;
    color: #FF725E;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 12rem;
     
}

.startRodapé {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

.clinica {
    display: flex;
    align-items: center;
    gap: 64px   ;

}

.clinicaText {
    padding: 3rem 0 0 3rem;

}
.clinicaTitle {
    padding-top: 5rem 
}
.clinicaSubtitle {
    margin-top: 2rem;
    font-size: 15px;
}

.clinicaText ul {
    line-height: 36px;
    padding-top: 10px;
    margin-left: 1rem;
    margin-top: 2rem;

}

.clinica img {
    width: 30rem;
    margin-top: 8rem;
    padding-top: 8rem;
    padding-right: 5rem;
}

.shop {
   /* border: 2px solid black; */
   display: flex;
   flex-direction: column;
   align-items: center;
  
}

.shopTitle {
    width: 24rem;
    margin-top: 5.5rem;
}

.shop img {
    width: 33rem;
    margin: 32px 0 48px 0;
}

.shopSubtitle {
    width: 60%;
}