*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ff9a6c;
    /* border: 2px solid black; */
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 0.9rem;
    font-weight: 500;
}

.logo {
   /* border: 2px solid black; */
    width: 20%;
    text-align: center;
}

.menu {
    width: 40%;
    height: auto;
    /* border: 2px solid black; */
}

.menu nav {
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

.menu nav a {
    display: flex;
    align-items: center;
    height: 2.5rem;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
}



.start {
  /*  border: 2px solid black; */
   /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative ;
}

.startimg {
    /* border: 2px solid black; */   

}

.startimg img {
    width: 30rem;
    margin-left: 6rem;
}

.startText {
    display: flex;
    flex-direction: column;
}

.startTitle  {
   /* border: 2px solid blue; */
    margin-top: 9rem;
    margin-inline: 3.5rem;
    color: #263238;
    font-size: 32px;

}

.startSubtitle {
    margin-top: 0.5rem;
    margin-inline: 4rem;
}

.startButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    height: auto;
    
}

.startButtons button {    
    margin-inline: 4rem;
    background-color: #FF725E;
    color: white;
    height: 3rem;
    border-radius: 8px;
    border: none;
    
}

.startButtons a {
    /* border: 2px solid black; */
    text-decoration: underline;
    color: #FF725E;
    display: flex;
    align-items: center;
    height: 1.5rem;
    width: 12rem;
    margin-top: 0.8rem 
}

.startRodapé {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}
